.aside-title{
    text-align: center;
}

.add-element-btn{
    margin-inline: auto;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 4px;
    height: 10vh;
    margin-block: 3vh;
    width: 80%;
}



p{
    text-align: center;
}